header
{
    height: 5vh;
    background-color: green;
}

main
{
    justify-content: space-between;
    border: 4px solid black;
}

#myInput
{
    border: 3px solid green;
    justify-content: center;
    align-items: center;
    display: flex;
}

#myTitle
{
    border: 3px solid orange;
    width: 50%;
}

#myLanguage
{
    border: 3px solid blue;
}

#myFilter
{
    border: 3px solid red;
}

#myList
{
    border: 3px solid purple;
    width: 74%;
}

summary
{
    text-align: center;
    margin: 2vh 1vw;
    height: 5vh;
}

figure
{
    height: 75vh;
    margin: 2vh 1vw;
}

button
{
    margin: .5vh 1vw 0vh 1vw;
}

table
{
    height: 100%;
    width: 100%;
    margin: 0 auto;
    border-collapse: collapse;
}

thead
{
    justify-content: center;
}

footer
{
    height: 2vh;
}