/* Added font styling to slider*/
.slider h2 {
    color: teal;
    font-size: 50px;
    text-shadow: 1px 1px 2px black, 0 0 1em white, 0 0 0.2em white;
    font-family: 'Permanent Marker', cursive;
}

.section-search input {
    padding: 5px;
    font-size: 18px;
    width: 90%;
    border: #f4f4f4 3px solid;
}

.section-follow .fa-4x {
    margin: 5px 10px;
}

.section-contact h5 {
    margin-bottom: 30px;
}

.modal {
    max-height: 90%;
}

.modal-form-row {
    margin-bottom: 0px;
}

.brand-logo {
    font-family: 'Courgette', cursive;
}

.search {
    font-family: 'Caveat', cursive;
    font-size: x-large;
}

.popular {
    font-family: 'Caveat', cursive;
    font-size: x-large;
}

.gallery {
    font-family: 'Caveat', cursive;
    font-size: x-large;
}

.flow-text {
    font-family: 'Courgette', cursive;
}

.destination {
    font-family: 'Bentham', serif;
}

.modalHeadlines {
    font-family: 'DM Serif Display', serif;
}

.modaltext {
    font-family: 'Special Elite', cursive;
}

.card-content {
    font-family: 'Source Serif Pro', serif;
}

.card-title {
    font-family: 'Special Elite', cursive;
}